# Windows note: folders should not end with a slash
include AUTHORS
include README.rst
include CHANGES.rst
include LICENSE
recursive-include any_urlfield/static *.js *.css
recursive-include any_urlfield/locale *.po *.mo
recursive-include any_urlfield/templates *.html
